---
name: Swift
tagline: Speeding into the Future, Swiftly and Safely.
first_introduced: 2014
page_title: "Swift: Navigating the Future with Speed and Safety"
---

article
  h1 Swift
  p Swift is a high-level general-purpose, multi-paradigm, compiled programming language developed by Apple Inc. and the open-source community. Swift compiles to machine code, as it is an LLVM-based compiler. Swift was first released in June 2014, and the Swift toolchain has shipped in Xcode since version 6, released in 2014.
